vendor/
composer.lock
.phpunit.result.cache
.phpunit.cache/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
admin/vendor
admin/runtime/
admin/.env
admin/tests
admin/*.log
service/vendor
service/runtime/
service/tests
service/.env
service/*.log
admin/composer.lock
service/composer.lock
